body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 95vh;
}
.editor-container {
    flex: 1;
    overflow: auto;

}
.form-group {
    margin-bottom: 15px;
}
.hidden {
    display: none;
}



