body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#editor-container {
    height: 70vh;
    margin-bottom: 20px;

}
@media (max-width: 600px) {
    #editor-container {
        height: 250px;
    }
}
.form-group {
    margin-bottom: 15px;
}
.hidden {
    display: none;
}